.mex {
  font-size:60%; 
  color:#888; 
  display:inline;
  }

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 5px;
}
/* Margini e padding inferiore */
.list-group {
  padding-left: 0;
  margin-bottom: 2px;
}
 
 
/* Formattazione dell'item di lista */
.list-group-item {
  position: relative;
  display: block;
  padding: 2px 2px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-right: 0px solid #dddddd;
  border-left: 0px solid #dddddd;
}
 


.posr {
        float:right;
        }
.message{
        cursor:pointer;
}
.vote{
    vertical-align: bottom;
    width:30px;
    position:absolute;
    top:0;
    left:0;
}
.op{
    vertical-align: bottom;
    width:150px;
    position:absolute;
    right:0;
    bottom:0;
}
.odd{
        background-color:#777777;
        }
.even {
        background-color:#666666;
        margin-left:10px;
        }
.btn-warning {
        background-color:#aa0;
        }
.ciao{
        background-color:black;
        color:white;
        }
.btn {
    color:white;
    white-space: normal;
}
.label {
    white-space: normal;
}
.ciao:focus{
        background-color:black;
        color:white;
        }
.ciao:hover{
        background-color:black;
        color:white;
        }
.btn-default{
        background-color:#aaa;
        color:white;
        }
.btn-grey > .btn-default {
        background-color:#fff;     
        }
textarea {
  margin:0px 0px;
  padding:5px;
  height:16px;
  line-height:16px;
  width:96%;
  display:block;
  margin:0px auto;    
}

