.mex {
  font-size:60%; 
  color:#888; 
  display:inline;
  padding-left:5px
  }
.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 5px;
}
/* Margini e padding inferiore */
.list-group {
  padding-left: 0;
  margin-bottom: 1px;
}
 
 
/* Formattazione dell'item di lista */
.list-group-item {
  position: relative;
  display: block;
  padding: 0px 0px;
  margin-bottom: -1px;
  padding-left:1px;
  background-color: #fefafa;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
 


.posr {
        float:right;
        }
.message{
        cursor:pointer;
}
.vote{
    vertical-align: bottom;
    width:30px;
    position:absolute;
    top:0;
    left:0;
}
.op{
    vertical-align: bottom;
    width:150px;
    position:absolute;
    right:0;
    bottom:0;
}
.odd{
        background-color:#777777;
        }
.even {
        background-color:#666666;
        margin-left:10px;
        }
.btn-warning {
        background-color:#aa0;
        }
.ciao{
        background-color:black;
        color:white;
        }
.btn {
    color:white;
    white-space: normal;
}
.label {
    white-space: normal;
}
.ciao:focus{
        background-color:black;
        color:white;
        }
.ciao:hover{
        background-color:black;
        color:white;
        }
.btn-default{
        background-color:#aaa;
        color:white;
        }
.btn-grey > .btn-default {
        background-color:#fff;     
        }
textarea {
  margin:0px 0px;
  padding:5px ;
  height:16px;
  line-height:16px;
  width:96%;
  display:block;
  margin:0px auto;    
}

.label-default {
  margin:3px;
  background-color:#aaa;
}
.btn-off:hover {
  background-color:#aaa;
  color:white;
}
