<!DOCTYPE html>

<html lang="en" ng-app="mootzoo" ng-controller="conversations">
	<head>
		<title>Mootzoo conversations</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<script src= "js/jquery.min.js" type="text/javascript"></script>
		<script src= "js/bootstrap.min.js" type="text/javascript"> </script>
		<script src= "js/angular.min.js" type="text/javascript"></script>
		<script src= "js/mootzoo.js" type="text/javascript"></script>
		<link rel="stylesheet" href="css/mootzoo.css" type="text/css">
	</head>

	<body >
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Mootzoo conversational system</a>							
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<div ng-show="logged">
								<input type="text" placeholder="Email" class="form-control">
									<button type="submit" class="btn btn-success"
											data-toggle="tooltip" title="Send an e-mail to this address for a fresh login link">
										Invite
									</button> 
									<button ng-click="logout()" type="submit" class="btn btn-danger" data-toggle="tooltip" title="Drop your browser position">Logout</button>
							</div>
							<div ng-hide=logged>
								<button  ng-click="login()" type="submit" class="btn btn-danger" data-toggle="tooltip" title="Should jump in from login link">Fake login</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container" ng-init="proposing=false"> 
			<div class=row>
				<div class="col-md-3">
					<div ng-mouse-wheel-up="kpiu()" ng-mouse-wheel-down="kmeno()" class="panel panel-primary">
						<div class="panel-heading" data-toggle="tooltip" title="Conversations in your store recently updated">
							<div class=row>
								<div class="col-md-6"> <span class="label"> News </span></div>
								<div class="col-md-6" data-toggle="tooltip" title="Use mousewheel instead" >
									<button ng-click="nmeno()" type="submit" class="btn btn-xs btn-default" data-toggle="tooltip" title="Previous conversation">prev</button>
									<button ng-click="npiu()" type="submit" class="btn btn-xs btn-default" data-toggle="tooltip" title="Next convesation">next</button>
								</div>
							</div>
						</div>
						<div class="panel-body" >
							<div style="display:inline" >
								<button ng-repeat="x in news.slice(0,15)" type="submit" ng-class="convButton(x,$index)" 
									ng-click="$parent.n=x.index;"  ng-right="npiu()" ng-left="nmeno()" >
									<span ng-show="convButtonSelected(x)" style="font-weight:bold;color:black" >{{x.index}}</span>
									<span ng-hide="convButtonSelected(x)" style="opacity:0.7">{{x.index}}</span>
								</button>
							</div>
						</div>
					</div>
					<div ng-show="logged" ng-mouse-wheel-up="npiu()" ng-mouse-wheel-down="nmeno()" class="panel panel-primary">
						<div class="panel-heading" data-toggle="tooltip" title="Conversations you are reading or partecipating">
							<div class=row>
								<div class="col-md-6" > <span class="label"> Store </span> </div>
								<div class="col-md-6" data-toggle="tooltip" title="Use mousewheel instead" >
									<button ng-click="nmeno()" type="submit" class="btn btn-xs btn-default" data-toggle="tooltip" title="Previous conversation">prev</button>
									<button ng-click="npiu()" type="submit" class="btn btn-xs btn-default" data-toggle="tooltip" title="Next convesation">next</button>
								</div>
							</div>
						</div>
						<div class="panel-body" >
							<div   style="display:inline" >
								<button ng-repeat="x in conversations" type="submit" ng-class="convButton(x,$index)" 
										ng-click="$parent.n=x.index;"  ng-right="npiu()" ng-left="nmeno()" >
									<span ng-show="convButtonSelected(x)" style="font-weight:bold;color:black" >{{x.index}}</span>
									<span ng-hide="convButtonSelected(x)" style="opacity:0.6">{{x.index}}</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default" >
								<div class="panel-heading" > 
									<div class=row> 
											<div class="col-md-3" > <span class="label label-primary"> Conversation </span> </div>
										<div class="col-md-4" >
											<span class="label label-default">{{conversations[n].id}}</span>
										</div>
										<div class="col-md-5" >
											<span ng-show="logged" ng-class="positionLabelClass()">{{positionText()}}</span>
										</div>
									</div><!-- row -->
								</div><!-- heading -->
								<div class="panel-body" style="overflow-y:auto; height:350px;">
									<ul class=list-group>
										<li class="list-group-item" ng-class-odd="'odd'" ng-class-even="'even'"  ng-repeat="x in conversations[n].messages">
											<div class=message style="color:white">{{x}}
											</div>
											<div class="vote label">
												<span ng-show="testVote($index)">
													<button ng-click="voteUp($index)" type="button" class="btn btn-default btn-xs">
														<span class="glyphicon glyphicon-thumbs-up">
														</span>
													</button>
												</span>
												<span style="background-color:#aaa" class="badge">{{conversations[n].votes[$index]}}
												</span>
												<span ng-show="testVote($index)">
													<button ng-click="voteDown($index)" type="button" class="btn btn-default btn-xs">
														<span class="glyphicon glyphicon-thumbs-down"></span> 
													</button>
												</span>
											</div><!--vote -->
										</li> 
										<li ng-show="testUndo() && (logged)" class="list-group-item">
											<button   ng-click="back()" type="button" class="btn btn-danger btn-xs">Retract</button>
										</li>
										<li class="list-group-item" ng-hide="(conversations[n].type == 'personale') || (!logged) ||(conversations[n].type == 'conversata') ">
											<div ng-show="(conversations[n].type == 'complete') ">
												<div>
													<textarea  style="overflow:hidden" class="form-control" ng-model="message">Message..</textarea>
													<button  ng-click="stepIn()" class="btn btn-info" data-toggle="tooltip" title="Open a new conversation to this conversation followers" > Step in </button>
												</div>
											</div>
											<div ng-show="(conversations[n].type == 'waiting') ||(conversations[n].type == 'orphan') ">
													<textarea  style="overflow:hidden" class="form-control" ng-model="message">Message..</textarea>
													<button ng-click="addMessage();conversations[n].type='conversata'" class="btn btn-primary btn-xs" > Respond</button>
													<button ng-show="(conversations[n].type == 'waiting')" ng-click="back()" class="btn btn-danger btn-xs" >Leave</button>	
											</div>
										</li>
									</ul>
								</div>
								<div class="panel-footer ">
									<div class=row ng-show="(conversations[n].type=='blank') || (conversations[n].type=='complete')||(conversations[n].type=='orphan')"> 
										<div class="col-md-2" >
											<button ng-click="hint()" class="btn btn-success" type="button" data-toggle="tooltip" title="Get a hint from mootzoo algorithm">Hint</button>
										</div>
										<div class="col-md-3" >
											<div class="input-group" >
												<input  type="text" class="form-control" placeholder="Identifier" ng-model=jumper>
													<span class="input-group-btn">
														<button ng-click="jump(jumper)" class="btn btn-success" type="button">Go</button>
													</span>
											</div>
										</div>
										<div class="col-md-7" >
											<div class="input-group" >
												<input  type="text" class="form-control" placeholder="Search for..."></input>
												<span class="input-group-btn">
													<button  class="btn btn-success" type="button">Go</button>
													<button  class="btn btn-success" type="button">Next</button>
													<button  class="btn btn-success" type="button">Prev</button>
												</span>
											</div><!-- -->
										</div><!--  -->
									</div>
								</div><!-- footer -->
							</div><!-- panel -->
						</div><!-- col -->
					</div><!-- row -->
				</div><!-- col -->
				<div class="col-md-2" class="advertise">
					<div class="panel panel-primary" >
							<div class="panel-heading">
								<span class="label"> Advertise </span> 
							</div>
							<div class="panel-body"> <button class="btn btn-info"> Subscribe to get rid</button> </div>
					</div><!-- panel -->
				</div><!-- col 2  -->

			</div><!-- row -->
		</div><!-- container -->
	</body>
</html>
