
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="conversations" ng-init="userkey=;username=;">
  <head>
    <title>MootZoo Forest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" color="text/css">
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <script src= "../js/jquery.min.js" color="text/javascript"></script>
    <script src= "../js/bootstrap.min.js" color="text/javascript"> </script>
    <script src= "../js/angular.min.js" color="text/javascript"></script>
    <script src= "../js/ui-bootstrap-tpls-0.13.0.js" color="text/javascript"></script>
    <script src= "../js/mootzoo.js" color="text/javascript"></script>
    <script src= "../js/ng-infinite-scroll.min.js" color="text/javascript"></script>
    <link rel="stylesheet" href="../css/mootzoo.css" color="text/css">
  </head>

  <body >
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-collapse collapse" href="/">MootZoo, la foresta delle discussioni</a>              
        </div>
        <div id="navbar" class="navbar-right navbar-form">
          <div class="form-group" ng-hide=false>
              <button  ng-click="logout()" class="btn btn-danger"
                data-toggle="tooltip" title="Invia un nuovo link di login alla tua mail (se pensi che questo sia compromesso)">               
                Rinnovo
              </button> 
              <button  ng-click="invite()" class="btn btn-success"
                data-toggle="tooltip" title="Invia una e-mail di invito ad un'altro indirizzo">               
                Invita
              </button> 
            <div class="label label-default"> {{username}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class=container> 
      <div class=row>
        <div class=col-md-4>
          <div class="panel panel-primary">
            <div  class="panel-body" ng-init="notifiche='personali'">
              <div  style="overflow-y:auto; overflow-x:hidden; height:350px;">
                <ul class="nav nav-pills">
                    <li data-toggle="tooltip" title="tutte le conversazioni" 
                        ng-class="notifiche == 'radici'?'active':''"> <a ng-click="notifiche='radici'"> 
                    <span class="glyphicon glyphicon-home"/>
                    </a> </li> 
                    <li data-toggle="tooltip" title="conversazioni proposte" 
                        ng-class="notifiche == 'aperture'?'active':''"> <a ng-click="notifiche='aperture'"> 
                    <span class="glyphicon glyphicon-eye-open"/>
                    </a> </li> 
                    <li data-toggle="tooltip" title="messaggi dove solo tu puoi rispondere" 
                        ng-class="notifiche == 'personali'?'active':''"> <a ng-click="notifiche='personali'"> 
                    <span class="glyphicon glyphicon-download"/>
                    </a> </li> 
                    <li data-toggle="tooltip" title="messaggi spediti e non risposti" 
                        ng-class="notifiche == 'detti'?'active':''"> <a ng-click="notifiche='detti'"> 
                    <span class="glyphicon glyphicon-upload"/>
                    </a> </li> 
                </ul>
                <ul ng-show="notifiche == 'radici'" class=list-group >
                  <li class="list-group-item" ng-repeat="x in roots">
                    <div  class=row> 
                      <div ng-click="getConversation(x.id)" class="message col-md-12">
                       <p><div class=mex> -- </div> 
                       {{x.text}}</p>
                       <div class=mex> {{x.date | date:'dd/MM/yyyy @ h:mma'}} </div> 
                      </div>
                    </div><!--action -->
                  </li> 
                </ul>
                <ul ng-show="notifiche == 'aperture'" class=list-group >
                  <li class="list-group-item" ng-repeat="x in opens">
                    <div  class=row> 
                      <div ng-click="getConversation(x.id)" class="message col-md-12">
                       <div class=mex> -- </div> 
                       {{x.text}} 
                       <div class=mex> {{x.date | date:'dd/MM/yyyy @ h:mma'}} </div> 
                      </div>
                    </div><!--action -->
                  </li> 
                </ul>
                <ul ng-show="notifiche == 'personali'" class=list-group >
                  <li class="list-group-item" ng-repeat="x in personali">
                    <div  class=row> 
                      <div ng-click="getConversation(x.id)" class="message col-md-12">
                       <div class=mex> -- </div> 
                       {{x.text}} 
                       <div class=mex> {{x.date | date:'dd/MM/yyyy @ h:mma'}} </div> 
                      </div>
                    </div><!--action -->
                  </li> 
                </ul>
                <ul ng-show="notifiche == 'detti'" class=list-group >
                  <li class="list-group-item" ng-repeat="x in detti">
                    <div  class=row> 
                      <div ng-click="getConversation(x.id)" class="message col-md-12">
                       <div class=mex> -- </div> 
                       {{x.text}} 
                       <div class=mex> {{x.date | date:'dd/MM/yyyy @ h:mma'}} </div> 
                      </div>
                    </div><!--action -->
                  </li> 
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class=col-md-8>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div  class=row> 
                <div class=col-md-10>
                  <button class="btn btn-success btn-xs" ng-click="moot()" data-toggle="tooltip" title="proponi conversazione">
                  <span class="glyphicon glyphicon-plus"/>
                  </button>
                </div>
              </div>
            </div>
            <div  class="panel-body"> 
              <div  style="overflow-y:auto;overflow-x:hidden; height:370px;">
                <ul class=list-group >
                  <li class="list-group-item" ng-repeat="x in conversation">
                    <div  class=row> 
                      <div class=col-md-2 >
                            <button ng-click="rollLeft(x)" class="btn btn-default btn-xs"  
                                            data-toggle="tooltip" title="intervento precedente" > 
                                <span class="glyphicon glyphicon-step-backward"/>
                              </button>
                          <button data-toggle="tooltip" title="intervento selezionato / numero interventi" class="btn btn-default btn-xs btn-off">{{x.roll + 1}}/{{x.alter.length}}
                          </button>
                          <button  ng-click="rollRight(x)" class="btn btn-default btn-xs"  
                                          data-toggle="tooltip" title="intervento successivo" > 
                              <span class="glyphicon glyphicon-step-forward"/>
                             </button>
                        </div>
                      <div class=col-md-7>
                       <div class=mex> -- </div> 
                       {{x.text}} 
                       <div class=mex> {{x.date | date:'dd/MM/yyyy @ h:mma'}} </div> 
                      </div>
                      <div class=col-md-3>
                          <button ng-repeat = "a in x.actions" ng-click="a.action()" class="btn btn-default btn-xs"  
                                          data-toggle="tooltip" title="{{a.tooltip}}" >
                        <span ng-class="a.glyphicon"/>
                          </button>
                      </div>
                    </div><!--action -->
                  </li> 
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div><!-- container -->
  </body>
</html>
