
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="conversations" ng-init="userkey=">
  <head>
    <title>Mootzoo conversations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" color="text/css">
    <script src= "../js/jquery.min.js" color="text/javascript"></script>
    <script src= "../js/bootstrap.min.js" color="text/javascript"> </script>
    <script src= "../js/angular.min.js" color="text/javascript"></script>
    <script src= "../js/ui-bootstrap-tpls-0.13.0.js" color="text/javascript"></script>
    <script src= "../js/mootzoo.js" color="text/javascript"></script>
    <script src= "../js/ng-infinite-scroll.min.js" color="text/javascript"></script>
    <link rel="stylesheet" href="../css/mootzoo.css" color="text/css">
  </head>

  <body >
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-collapse collapse" href="/">Mootzoo, lo zoo delle conversazioni</a>              
        </div>
        <div id="navbar" class="navbar-right navbar-form">
          <div class="form-group">
            <div style="position:absolute;left:50%">
              <input  ng-model="mailremainder" placeholder="Invita via mail" class="form-control"
                  data-toggle="tooltip" title="Invia una e-mail a questo indirizzo con un nuovo link di login">
              <button  ng-show=mailremainder ng-click="invite()" class="btn btn-success"
                                                          data-toggle="tooltip" title="Invia una e-mail a questo indirizzo con un nuovo link di login">               
                Invita
              </button> 
            </div>
            <button  ng-click="logout()" color="submit" class="btn btn-danger" data-toggle="tooltip" 
                title="Invia un e-mail con un nuovo link di login a te stesso">Nuovo login</button>
          </div>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">User<span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li ng-click="setUserkey(u)" ng-repeat="u in logins">{{u}}</li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" aria-label="..." ng-model=userkey>
          </div><!-- /input-group -->
        </div>
      </div>
    </div>

    <div class="container" ng-init="proposing=false"> 
      <div  class=row> 
        <div class="form-inline">
                  <button class="btn btn-default" ng-click="gotox()">Vai alla conversazione</button>
                  <input type="text" class="form-control" aria-label="..." ng-model="gotoConversation">
        </div><!-- row -->
        <div class="btn-group">
          <button class="btn btn-default" ng-click="moot()">Nuova conversazione</button>
          <button class="btn btn-default" ng-click="past()">Conversazione precedente</button>
        </div><!-- row -->
      </div><!-- row -->
      <div   id=conversation style="overflow-y:auto; height:350px;">
        <ul class=list-group >
          <li class="list-group-item" ng-repeat="x in conversation">
             <div class=message  style="display:inline">
                 {{x.id}} {{x.parent}}       {{x.text}}  
            </div>

            <div  class="action"  style="display:inline">
                <button ng-repeat = "a in x.actions" ng-click="a.action()" class="btn btn-default btn-xs"  
                              data-toggle="tooltip" title="{{a.tooltip}}" >
                  {{a.text}}
                </button>
            </div><!--action -->
            <div   style="display:inline">
                <button  ng-repeat="y in x.future" color="submit" class="btn btn-xs" ng-click="getConversation(y)">
                {{y}}
                </button>
            </div><!--action -->
          </li> 
        </ul>
      </div>
    </div><!-- container -->
  </body</html>
