
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="conversations" ng-init="userkey=;username=;">
  <head>
    <title>MootZoo Forest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" color="text/css">
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <script src= "../js/jquery.min.js" color="text/javascript"></script>
    <script src= "../js/bootstrap.min.js" color="text/javascript"> </script>
    <script src= "../js/angular.min.js" color="text/javascript"></script>
    <script src= "../js/angular-sanitize.min.js" color="text/javascript"></script>
    <script src= "../js/ui-bootstrap-tpls-0.13.0.js" color="text/javascript"></script>
    <script src= "../js/mootzoo.js" color="text/javascript"></script>
    <link rel="stylesheet" href="../css/mootzoo.css" color="text/css">
  </head>

  <body style="background: linear-gradient(75deg, #43f, #432);">
    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">
	<div id="navbar" class="navbar-right navbar-form">
			<button ng-show="roots.length>0"  class="btn btn-primary" data-toggle="tooltip" title="Radici delle discussioni"  ng-click="select(roots,'Radici delle discussioni')"> 
				<span class="glyphicon glyphicon-home"/>
			</button>
			<button ng-show="opens.length>0"  class="btn btn-success" data-toggle="tooltip" title="Proposte di conversazione" ng-click="select(opens,'Proposte di conversazione')"> 
				<span class="glyphicon glyphicon-eye-open"/>
			</button>
			<button ng-show="personal.length>0" class="btn btn-danger" data-toggle="tooltip" title="Messaggi in arrivo" ng-click="select(personal,'Messaggi per te')"> 
				<span class="glyphicon glyphicon-download"/>
			</button>

			<button ng-show="detti.length>0" class="btn btn-info" data-toggle="tooltip" title="Messaggi inviati" ng-click="select(detti,'Messaggi da te')"> 
				<span class="glyphicon glyphicon-upload"/>
			</button>
                   <button class="btn btn-warning" ng-click="moot()" data-toggle="tooltip" title="Nuova discusssione">
                  <span class="glyphicon glyphicon-bullhorn"/>
                  </button>
		<span class="dropdown">
            <button class="btn btn-success btn-off dropdown-toggle" data-toggle="dropdown"> {{username}} </button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li> <a  ng-click="logout()" 
                		data-toggle="tooltip" title="Invia un nuovo link di login alla tua mail.">               
               				<span class="glyphicon glyphicon-off"/> Esci
              			</a> 
			</li>
              <li>
		<a  ng-click="invite()" 
                data-toggle="tooltip" title="Invia una e-mail di invito ad un'altro indirizzo">               
                  <span class="glyphicon glyphicon-send"/> Invita
              </a> 
		</li>
		</ul>
		</span>
        </div>
      </div>
    </div>
    <div class="container-fluid containerb"> 
              <div class=row >
              <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7" >
          <div class="panel panel-primary">
            <div  class="panel-body"> 
                <ul class=list-group >
                  <li class="list-group-item" ng-repeat="x in conversation">
                    <div  class=row> 
                      <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
                       <span class="dropdown dropper">
			<div class="messaggio dropdown-toggle" ng-show="x.actions.length > 0" data-toggle="dropdown" >
                          <span class=mex> {{redate(x.date) |date :'dd-MMM-yy HH:mm'}} &nbsp&nbsp&nbsp</span> 
                          <span style="color:#222"> {{x.text}} </span>
                        </div>
			<div class=messaggio ng-show="x.actions.length <= 0">
                          <span class=mex> {{redate(x.date) |date :'dd-MMM-yy HH:mm'}} &nbsp&nbsp&nbsp </span> 
                          <span style="color:#222"> {{x.text}} </span>
                        </div>
			<ul class="dropdown-menu dropdown-menu">
                          <li ng-repeat = "a in x.actions" > <a ng-click="a.action()">
                            <span ng-class="a.glyphicon"/> {{a.text}} </a>
                          </li>
			</ul>
                       </span>
                      </div>
                      <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
                            <button ng-hide="x.alter.length<=1" ng-click="rollHome(x)" class="btn btn-default "  
                                            data-toggle="tooltip" title="intervento precedente" > 
                                <span class="glyphicon glyphicon-fast-backward"/>
                              </button>
                            <button ng-hide="x.alter.length<=1" ng-click="rollLeft(x)" class="btn btn-default "  
                                            data-toggle="tooltip" title="intervento precedente" > 
                                <span class="glyphicon glyphicon-step-backward"/>
                              </button>
                          <button ng-hide="x.alter.length<=1" ng-click="rollRight(x)" class="btn btn-default "  
                                          data-toggle="tooltip" title="intervento successivo" > 
                              <span class="glyphicon glyphicon-step-forward"/>
                             </button>
                        </div>

                    </div><!--action -->
                  </li> 
                </ul>
              </div>
            </div>
      </div>
    </div><!-- container -->
