<!doctype html>
<html ng-app="ui.bootstrap.demo">

<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
  <script src="example.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-body">
        <textarea style="overflow:hidden" class="form-control" ng-model="testo" placeholder="Messaggio.."></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Spedisci</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancella</button>
      </div>
    </script>

    <button class="btn btn-default" ng-click="open('md',messages.length +1)">Rispondi</button>
    <div ng-repeat="x in messaggi">
      Messaggio {{$index}}: {{x}}
      <button class="btn btn-default" ng-click="open('md',$index + 1)">Rispondi</button>
    </div>
  </div>
</body>

</html>
